@page "/login"
@inject NavigationManager Navigation

<h3>Redirecting to login</h3>
    <RemoteAuthenticatorView Action="login" />
@code {
    protected override void OnInitialized()
    {
        var realm = "ztacs";
        var domain = "auth.blackhatbadshah.com";
        var clientId = "25pSHCWTZQHPupUPAXimVmvcIDKaUIEK";

        // Ensure trailing slash in Navigation.BaseUri
        var redirectUri = Navigation.BaseUri.TrimEnd('/')+"/welcome";

        var loginUrl = $"https://{domain}/realms/{realm}/protocol/openid-connect/auth" +
                       $"?client_id={clientId}" +
                       $"&redirect_uri={Uri.EscapeDataString(redirectUri)}" +
                       $"&response_type=code" +
                       $"&scope=openid%20profile%20email";

        Navigation.NavigateTo(loginUrl, forceLoad: true);
    }
}