@page "/logout"
<AuthorizeView>
    <Authorized>
        <button @onclick="LogUserOut" class="btn btn-outline-danger btn-sm">Logout</button>
    </Authorized>
</AuthorizeView>

@code {
    [Inject] NavigationManager Navigation { get; set; }

    private void LogUserOut()
    {
        var returnTo = Uri.EscapeDataString("https://capstone.blackhatbadshah.com/");
        var clientId = "25pSHCWTZQHPupUPAXimVmvcIDKaUIEK";
        var domain = "blackhat.auth0.com";

        var logoutUrl = $"https://{domain}/v2/logout?client_id={clientId}&returnTo={returnTo}";

        Navigation.NavigateTo(logoutUrl, forceLoad: true);
    }
}