@using Microsoft.AspNetCore.Components.Authorization
@using ZTACS.Client.Authentication
@rendermode InteractiveWebAssembly
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(ZTACS.Program).Assembly"
            AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <p>You are not authorized to access this page.</p>
                </NotAuthorized>
                <Authorizing>
                    <p>Authorization in progress...</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <p>Page not found.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
