@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

    <!-- 🟩 Content -->
    <MudMainContent Class="p-4">
        <div style="display:none">
            <RemoteAuthenticatorView Action="logIn"/>
        </div>

        @Body
    </MudMainContent>
@code {
    void Login() => Navigation.NavigateTo("login/google");
    void Logout()
    {
        AuthStateProvider.GetAuthenticationStateAsync().ContinueWith(task =>
        {
            var returnTo = Uri.EscapeDataString("https://capstone.blackhatbadshah.com/");
            var clientId = "25pSHCWTZQHPupUPAXimVmvcIDKaUIEK";
            var domain = "blackhat.auth0.com";
            var logoutUrl = $"https://{domain}/v2/logout?client_id={clientId}&returnTo={returnTo}";
            Navigation.NavigateTo(logoutUrl, forceLoad: true);
        });
        InvokeAsync(StateHasChanged);
    }
}