@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

    <!-- 🟩 Content -->
    <MudMainContent Class="p-4">
        <div style="display:none">
            <RemoteAuthenticatorView Action="logIn"/>
        </div>

        @Body
    </MudMainContent>
@code {
    
}